
:root{

  --primary-color: #15624c;
  --text-color: #fff;
}

.nav {
  width: 100%;
  align-items: center;
  justify-content:space-between;
  display: flex;
  background-color: var(--primary-color);
  height: 50px;
}

.title{
  font-size: 1rem;
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}

.df-jc-ac{
  display: flex;
  justify-content: center;
  align-items: center
}

.list-item{
  list-style: none;
}

.link{
  text-decoration: none;
  margin-right: 15px;
  color: var(--text-color);
}